#article {
    code {
        font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
        border-radius: 0.25rem;
        background-color: #f1f5f8;
        font-size: 0.875rem;
        color: #3d4852;
        padding: 0.25rem;
        border-width: 1px;
    }

    a {
        color: #800020;

        &:hover {
            color: #3d0303;
        }
    }
}

section.article-show,
section.articles {
    background-image: image-url("topography-red.svg");
}

section.category-index,
section.new-article,
section.new-book,
section.quotes {
    background-image: image-url("line-in-motion.svg");
}