.js--fadeInLeft {
    visibility: hidden;
}
.home-description {
    .hero {
        img,
        picture {
            max-width: 315px;
        }
    }
    div.absolute {
        img,
        picture {
            border-radius: 100px;
            max-width: 185px;
            border: 8px white solid;
            padding: 0;
            margin: 0;
        }
    }

}

.language-stats {
    #language-bar {
        .bar {
            display: flex;
            height: 8px;
            overflow: hidden;
            background-color: #e1e4e8;
            border-radius: 6px;
        }

        ul {
            list-style-type: none;

            .octicon {
                fill: currentColor;
            }
        }
    }
}

.projects-carousel {
    .carousel-cell {
        width: 100%;
        display: flex !important;
    }
    @media(max-width: 768px) {        
        .flickity-page-dots {
            bottom: -35px;
        }
    }
}
