#resume {
    .particles {
        height: 80vh;
        .absolute {
            @media(max-width: 1024px) {
                top: 20vh;
            }
            .hero-overlay {
                @media(max-width: 1023px) {
                    background-color: rgba(40, 40, 40, 0.7);
                }
            }
        }

        #particles-js {
            position: absolute;
            width: 100%;
            height: 80vh;
            // background-color: #b61924;
            background-color: #4338CA;
            background-image: url("");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;

            canvas {
                display: block;
            }

        }
    }

    .project-gallery {
        svg {
            path {
                fill: #6366F1;
                color: #6366F1;
            }
        }

        .project-img {
            .description {
                display: none;
            }
            &:hover {
                .description {
                    display: block;
                }
                picture {
                    &::before {
                        content: "";
                        position: absolute;
                        width: calc(100% - 1rem);
                        height: calc(100% - 1rem);
                        border-radius: 3px;
                        background-color: rgba(40, 40, 40, 0.7);
                    }
                }

            }

        }
    }
}
