<footer class="py-4 sm:block text-center w-full bg-white">
    <div class="container mx-auto">
        <p class="block normal-font text-center text-sm">
            No copyright, take what you want. <a href="http://alextheyounger.me" class="burgandy">alexyounger.me</a> by Alex Younger. This site was built with Ruby on Rails and TailwindCSS.
        </p>
        <div class="flex sm:block py-4 text-center w-full">
            <a href="https://www.linkedin.com/in/alexyounger/" class="w-16 no-underline burgandy fa fa-lg fa-linkedin"></a>
            <a href="https://www.facebook.com/alex.younger.7" class="w-16 no-underline burgandy fa fa-lg fa-facebook"></a>
            <a href="https://twitter.com/AlextheYounga" class="w-16 no-underline burgandy fa fa-lg fa-twitter"></a>
            <a href="https://github.com/AlextheYounga/alpha-blog" class="w-16 no-underline burgandy fa fa-lg fa-github"></a>
            <a href="https://codepen.io/alextheyounger/" class="w-16 no-underline burgandy fa fa-lg fa-codepen"></a>        
            <a href="https://medium.com/@AlextheYounger" class="w-16 no-underline burgandy fa fa-lg fa-medium"></a>
            <a href="mailto:alexyounger07@gmail.com" class="w-16 no-underline burgandy fa fa-lg fa-envelope-o"></a>
        </div>
    </div>
</footer>