<h2 class="h4 mb-3">Languages</h2>
<div class="mb-2">
  <span class="Progress ">
    <span itemprop="keywords" aria-label="HTML 53.3" style="background-color: #e34c26;width: 53.3%;" class="Progress-item "></span>
    <span itemprop="keywords" aria-label="CSS 46.7" style="background-color: #563d7c;width: 46.7%;" class="Progress-item "></span>
  </span>
</div>
<ul class="list-style-none">
  <li class="d-inline">
    <div class="d-inline-flex flex-items-center flex-nowrap link-gray no-underline text-small mr-3">
      <svg class="octicon octicon-dot-fill mr-2" style="color:#e34c26;" viewbox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8z"></path>
      </svg>
      <span class="text-gray-dark text-bold mr-1">HTML</span>
      <span>53.3%</span>
    </div>
  </li>
  <li class="d-inline">
    <div class="d-inline-flex flex-items-center flex-nowrap link-gray no-underline text-small mr-3">
      <svg class="octicon octicon-dot-fill mr-2" style="color:#563d7c;" viewbox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8z"></path>
      </svg>
      <span class="text-gray-dark text-bold mr-1">CSS</span>
      <span>46.7%</span>
    </div>
  </li>
</ul>
