<tr class="justify-between w-full">
  <td class="p-2 md:p-4 normal-font text-black text-center w-1/4">Add New</td>
  <%= form_for(@stock, :html => {role: "form"}) do |f| %>
  <td class="p-2 md:p-4 normal-font text-black text-center w-1/4">
    <%= f.text_field :symbol, placeholder: "Ticker", class: "bg-white p-1 rounded w-1/2" %>
  </td>
  <td class="p-2 md:p-4 normal-font text-black text-center w-1/4">
    <%= f.text_field :position, placeholder: "Position", class: "bg-white p-1 rounded w-1/2" %>
  </td>
  <td class="p-2 md:p-4 normal-font text-black text-center w-1/4">
    <%= f.submit class: "p-1 bg-white block border border-green-800 hover:bg-green-900 hover:text-green-100 mx-auto no-underline normal-font rounded shadow-lg text-green-900" %>
  </td>
<% end %>
<td></td>
<td></td>
<td></td>
</tr>
