<table class="<% if current_page?(root_path) %> bg-blue-lighter border-blue-darker <% end %> bg-red-lightest border border-red-darker mx-auto shadow-lg lg:w-3/4">
  <thead class="bg-grey-lightest">
    <tr class="justify-between">
      <th class="p-1 sm:p-4 md:p-6 normal-font text-black text-lg">Name</th>
      <th class="p-1 sm:p-4 md:p-6 normal-font text-black text-lg">Symbol</th>
      <th class="p-1 sm:p-4 md:p-6 normal-font text-black text-lg">Current Price</th>
    </tr>
  </thead>

  <tbody>
    <% if @user_stocks %>
    <% @user_stocks.each do |user_stock | %>
    <tr class="justify-between">
      <td class="p-1 sm:p-4 md:p-6 normal-font text-black text-left"><%= user_stock.company_name%></td>
      <td class="p-1 sm:p-4 md:p-6 normal-font text-black <% if current_page?(root_path) %> text-center <% end %>"><%= user_stock.symbol %></td>
      <td class="p-1 sm:p-4 md:p-6 normal-font text-black <% if current_page?(root_path) %> text-center <% end %>"><%= user_stock.latest_price %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>