<% flash.each do |type, msg| %>
  <div class="flash-msg fixed flex max-w-sm w-full mx-auto bg-white shadow-md rounded-lg overflow-hidden left-0 z-50 my-2">
    <div class="flex justify-center items-center w-12 <%= type %>">
      <!-- TODO: Set up dynamic svgs. -->
      <%#= image_path("#{type}.svg") %>
    </div>

    <div class="-mx-3 py-2 px-4">
      <div class="mx-3">
        <span class="<%= type %> font-semibold"><%= type.titlecase %></span>
        <p class="text-gray-600 text-sm"><%= msg %></p>
      </div>
    </div>
  </div>
<% end %>
