
<div align="center" class="container-fluid header-margin-top">
    <p align="center"><%= image_tag("hammock_cutout.png", :alt => "hammock_cutout") %></p>
    <h1>Alex Younger</h1>
    <p align="center">I'm a web developer, a marketing analyst, and I write articles that make you question your existence.</p>
    <p align="center"><i>It is what it is, and it's pretty good.</i></p>
</div>
<hr>

