<section class="hero w-full sm:w-1/2 mx-auto mb-4 js--fadeInLeft">
  <picture>
    <source srcset="<%= image_path("hammock-circle.png.webp") %>" type="image/webp">
    <source srcset="<%= image_path("hammock-circle.png") %>" type="image/png">
    <img src="<%= image_path("hammock-circle.png") %>" class="flex sm:mt-10 mx-auto relative text-center" width="315" alt="alex younger developer marketing about me"/>
  </picture>
</section>
<section class="title w-full sm:w-1/2 mb-8 mx-auto bg-white shadow rounded js--fadeInLeft">
  <h1 class="fancy-font text-5xl text-black text-center">Alex Younger</h1>
  <p class="fancy-font py-2 text-black text-center text-lg">Web Developer, Investor, Marketing, Entrepreneur</p>
</section>

<section class="w-full sm:w-1/2 mx-auto bg-white my-8 py-8 shadow rounded js--fadeInLeft">
  <div class="language-stats">
    <%= render partial: "language_bar/language_bar", locals: {languageStats: @languageStats} %>
  </div>
</section>
<section class="w-full sm:w-1/2 mx-auto bg-white my-8 py-8 js--fadeInLeft">
  <div class="flex flex-wrap w-full px-2">
    <div class="w-full sm:w-1/2"></div>
  </section>

  <% content_for :javascripts do %>
    <script>
      // window.addEventListener("load", function () {
      //   setTimeout(reveal, 1500);
      // }, false);

      function reveal() {
        $('.js--fadeInLeft').show()
        window.sr = ScrollReveal();
        if ($(window).width() < 768) {
          $('.home-content').removeClass('js--fadeInLeft');
        } else {
          sr.reveal('.js--fadeInLeft', {
            origin: 'left',
            distance: '300px',
            easing: 'ease-in-out',
            duration: 800
          });
        }
      }
    </script>
  <% end %>
