
<div align="center" id="header" class="container-fluid">
    <img align="center" <%= image_tag("hammock_cutout.png", :alt => "hammock_cutout") %>
    <h1 class="display-3" id="name">Alex Younger</h1>
    <p align="center" id="header-sub">I'm a web developer, a marketing analyst, and I write articles that make you question your existence.</p>
    <q id="header-sub"><i>It is what it is, and it's pretty good.</i></q>
</div>
<hr>

