<section class="projects">
    <h1 class="fancy-font pt-16 text-center burgandy">My Projects</h1>

    <div class="container text-center mx-auto py-16">
      <div class="bg-white block border border-grey-light mx-auto my-8 py-10 rounded shadow hover:shadow-lg lg:w-3/4 md:w-3/4 sm:mx-4">
        <h1 class="fancy-font burgandy">Blue Hawaiian</h1>
        <%= image_tag("bluehawaiian.jpg", :alt => "Blue Hawaiian Helicopters", class:"w-4/5 py-8") %>    
        <p class="leading-normal normal-font text-black text-lg">This is a project I worked on</p>
    </div>
</section>





