<h1 class="my-16 fancy-font text-center">My Favorite Books & Audio</h1>
<div class="container mx-auto">
            <li>
                <a href="#click" class="menu block relative">
                    <h2 class="menu-title fancy-font block mx-auto bg-red-darkest rounded text-center w-1/6 p-2 text-white">Category</h2>
                    <ul class="menu-dropdown absolute py-3 bg-grey-lighter z-10">
                        <li><button id="showall">Show All</button></li>
                        <li><button id="better-living">Better Living</button></li>
                        <li><button id="philosophy">Philosophy</button></li>
                        <li><button id="peopleskill">People Skills</button></li>
                        <li><button id="econ">Economics</button></li>
                        <li><button id="history">History</button></li>
                        <li><button id="finance">Finance</button></li>
                        <li><button id="tech">Technology</button></li>
                        <li><button id="science">Science</button></li>
                        <li><button id="psych">Psychology</button></li>
                        <li><button id="productivity">Productivity</button></li>
                        <li><button id="autobio">Autobiography</button></li>
                        <li><button id="pol">Politics</button></li>
                        <li><button id="biz">Business</button></li>
                        <li><button id="misc">Miscellaneous</button></li>
                    </ul>
                </a>
            </li>
        </ul>
    </div>

<div class="list-container container">
    <div class="covers">
        <div class="row">
            <% if @books.any?
               then %>
            <% @books.each do |book| %>
            <div class="<%= book.category %> cover">
                <div>
                    <a href="<%= book.book_link %>" target="_blank" rel="nofollow">
                        <%= image_tag(book.image_address, :alt => book.image_alt, class: "media-object") %>
                    </a>
                </div>
            </div>
            <% end %>
            <% end %>
        </div>
    </div>
</div>
<% content_for :javascripts do %>
<script>
$(function() {

    $('.menu-dropdown button').click(function(){
      var get_id = this.id;
      var get_current = $('.covers .' + get_id);
  
        $('.cover').not( get_current ).hide(500);
        get_current.show(500);
    });
    
    
    $('#showall').click(function() {
        $('.cover').show(500);
    });
});
</script>
<% end %>