<h1 align="center" class="margin-top-2cm fancy-font">My Favorite Books & Audio</h1>
<div class="row">
<div class="container">
        <ul class="hList">
            <li>
                <a href="#click" class="menu">
                    <h2 class="menu-title fancy-font">Category</h2>
                    <ul class="menu-dropdown">
                        <li><button id="showall">Show All</button></li>
                        <li><button id="better-living">Better Living</button></li>
                        <li><button id="philosophy">Philosophy</button></li>
                        <li><button id="peopleskill">People Skills</button></li>
                        <li><button id="econ">Economics</button></li>
                        <li><button id="history">History</button></li>
                        <li><button id="finance">Finance</button></li>
                        <li><button id="tech">Technology</button></li>
                        <li><button id="science">Science</button></li>
                        <li><button id="psych">Psychology</button></li>
                        <li><button id="productivity">Productivity</button></li>
                        <li><button id="autobio">Autobiography</button></li>
                        <li><button id="pol">Politics</button></li>
                        <li><button id="biz">Business</button></li>
                        <li><button id="misc">Miscellaneous</button></li>
                    </ul>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="list-container container">
    <div class="covers">
        <div class="row">
            <% if @books.any?
               then %>
            <% @books.each do |book| %>
            <div class="<%= book.category %> cover">
                <div>
                    <a href="<%= book.book_link %>" target="_blank" rel="nofollow">
                        <%= image_tag(book.image_address, :alt => book.image_alt, class: "media-object") %>
                    </a>
                </div>
            </div>
            <% end %>
            <% end %>
        </div>
    </div>
</div>