<h1 align="center">My Favorite Books & Audio</h1>
<div class="toggles">
    <button id="showall">Show All</button>
    <button id="better-liv">Better Living</button>
    <button id="phil">Philosophy</button>
    <button id="peopleskill">People Skills</button>
    <button id="econ">Economics</button>
    <button id="finance">Finance</button>
    <button id="sci">Science</button>
    <button id="pol">Politics</button>
    <button id="biz">Business</button>
    <button id="misc">Misc</button>
</div>

<div id="list-container" class="container">
    <div class="covers">
        <div class="row">
            <% if @books.any?
               then %>
                <% @books.each do |book| %>
                    <div class="<%= book.category %> cover">
                        <div>
                            <a href="<%= book.book_link %>" target="_blank" rel="nofollow">
                                <%= image_tag(book.image_address, :alt => book.image_alt, class: "media-object") %>
                            </a>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>