/*/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*= require_self
*= require_tree .
*= require font-awesome
*/

.burgandy {
color: #800020;
}

.burgandy-hover {
color: #3d0303;
}

.created-at,
.fancy-font,
.title {
    font-family: "Alegreya SC", serif !important;
}

.normal-font,
a,
p,
small,
span {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
}

.list-style-none {
    list-style-type: none !important;
}

.no-underline {
    text-decoration: none !important;
}

.force-vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.flash-msg {
    top: 15%;
    .notice {
        background-color: #2563EB;
        &.font-semibold {
            background-color: transparent;
            color: #2563EB;
        }
    }
    .alert {
        background-color: #f2d024;
        &.font-semibold {
            background-color: transparent;
            color: #f2d024;
        }
    }
    .danger {
        background-color: #cc1f1a;
        &.font-semibold {
            background-color: transparent;
            color: #cc1f1a;
        }
    }
    .success {
        background-color: #1f9d55;
        &.font-semibold {
            background-color: transparent;
            color: #1f9d55;
        }
    }
}

.form-description,
.form-title {
    &:focus {
        outline-color: #800020;
    }
}