/*------ Screen Sizes ------*/
$extra-small-screen-up: 769px !default;
$small-screen-up: 993px !default;
$medium-screen-up: 1201px !default;
$large-screen-up: 1824px !default;
$extra-large-screen-up: 2561px !default;
$extra-small-screen: $extra-small-screen-up - 1px !default;
$small-screen: $small-screen-up - 1px !default;
$medium-screen: $medium-screen-up - 1px !default;
$large-screen: $large-screen-up - 1px !default;
$extra-large-screen: $extra-large-screen-up - 1px !default;

/*------- Colors --------*/
$primary-blue: #337ab7;
$primary-grey: #f5f5f5;
$nav-grey: #f8f9fa;
$border-grey: #e3e3e3;
$text: #FFFFFF;
$primary-text: #212121;
$secondary-text: #757575;

/*------ Shared  ------*/
section {
  margin-bottom: 6rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px 0 15px;
}

.center {
  margin: 0 auto;
}

.center-block {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.margin-top-2cm {
  margin-top: 2cm;
}

.margin-bottom-2cm {
  margin-bottom: 2cm;
}

.margin-bottom-1cm {
  margin-bottom: 1cm;
}

.fancy-font, .title, .created-at {
  font-family: 'Alegreya SC', serif !important;
}

.normal-font, .description {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;

}

hr {
  text-align: center;
  border-radius: 95%;
  border-top: 3px solid $border-grey !important;
  width: 95%;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

hr:after {
  content: url("main/mountain.jpg");
  display: inline-block;
  position: relative;
  top: -0.9em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
  z-index: -1;
}

.txt-20 {
  font-size: 20px;
}

/*------ Navbar --------*/
.navbar {
  font-size: 1.25rem;

  .navbar-toggler {
    margin-right: 20px;
  }
}

/*------- Home --------*/

#main-home {

  img {
    border-style: solid;
    border-radius: 50%;
    border-color: $primary-grey;
  }

  .main-title {
    font-size: 72px;
  }

  .jumbotron {
    background-image: url("main/moutains.svg");
    background-size: cover;
    background-position: 50% 0%;
    background-color: white;

    @media(max-width: $small-screen) {
      background-image: none;
    }
  }
}



#about-home {
  div {
    img {
      @media (min-width: $medium-screen-up) {
        margin-right: unset;
      }
    }
    div {
      p {
        padding: 0 15px 0 15px;
        @media (min-width: $medium-screen-up) {
          padding: 0 150px 0 45px;
        }
      }
      text-align: center;
      padding-top: 30px;
    }
  }
}

/*------ Cards -------*/
.container.paper {
  padding: 25px;
  margin: 0 auto 30px auto;
  background-color: $nav-grey;
  border: 1px solid $border-grey;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
  font-size: 36px;
  color: $primary-blue;

  a {
    color: $primary-blue;
  }
}

.created-at {
  padding-top: 8px;
  color: $primary-blue;
}

/*------- Reading List ------*/

/*-- Dropdown --*/

/*-- --*/
.toggles{
  max-width: 800px;
  margin: 0 auto;
  display: block;
  clear: both;
  overflow: hidden;
  text-align: center;

  button{
    border: 2px solid $border-grey;
    background-color: $primary-grey;
    border-radius: 40px;
    display: inline-block;
    padding: 10px;
    width: 150px;
    overflow: visible;
    margin: 5px auto !important;

    @media only screen and (max-width: 800px) {
      width: 90px;
      font-size: 11px !important;
      margin: 4px auto !important;
      padding: 7px;
    }
  }
}


#list-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 auto;

}

.covers{
  display: flex;
  flex-wrap: wrap;

  .row {
    justify-content: center;
  }

  div {
    margin: 15px;

    @media (max-width: $small-screen) {
      margin: 3px 3px 10px 3px;
    }

  }

  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 145px;
  }

}
/*------ Footer --------*/
.footer {
  border-top: 1px solid $border-grey;
  clear: both;
  margin-top: 45px;
}

/*---Social Media---*/

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

a, a:hover {
  text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li {
  margin: 0;
  padding: 5px;
}

.socialbtns li {
  list-style: none outside none;
  display: inline-block;
}

.socialbtns .fa {
  width: 40px;
  height: 36px;
  color: #000;
  background-color: #FFF;
  border: 1px solid #000;
  padding-top: 12px;
  border-radius: 22px;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
  -o-border-radius: 22px;
}

.socialbtns .fa:hover {
  color: #FFF;
  background-color: #000;
  border: 1px solid #000;
}

/*--end Social Media---*/

/*------Prism-------*/

code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/*--end Prism --*/

/*------ Libraries ------*/
@import "bootstrap";