/*---- Colors ----*/
$burgandy: #800020;
$burgandy-hover: #3d0303;
.burgandy {
    color: #800020;
}
.burgandy-hover {
    color: #3d0303;
}

/*---- Shared ----*/
.fancy-font, .title, .created-at {
    font-family: 'Alegreya SC', serif !important;
}

.normal-font {
    font-family: 'Alegreya Sans';
    font-style: normal;
}

/*---- Nav ----*/
@media screen and (max-width: 768px) {
    nav.desktop {
        display: none !important;
    }
}
@media screen and (min-width: 767px) {
    nav.mobile {
        display: none !important;
    }
}


/*---- Home ----*/

.hero {
    background-image: url("main/twin-lakes.jpg");
    background-size: cover;
    margin-top: -6rem;

    @media screen and (max-width: 768px) {
        background-position: 50%;
    }

    div.absolute {
        top: 30%;
    }
}

section.articles-home {
    background-image: url("main/topography-blue.svg");
}
/*---- About ----*/
section.about {
    background-image: url("main/topography-red.svg");

    .timeline {
        &::before {
            content: '';
            background: #b8c2cc;
            width: 5px;
            height: 95%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }
    }

    .timeline-item {
        &:nth-child(even) {
            .timeline-content {
                float: right;
                padding: 40px 30px 10px 30px;

                &::after {
                    content: '';
                    position: absolute;
                    border-style: solid;
                    width: 0;
                    height: 0;
                    top: 30px;
                    left: -15px;
                    border-width: 10px 15px 10px 0;
                    border-color: transparent #f5f5f5 transparent transparent;
                }
            }
        }

        &::after {
            content: '';
            display: block;
            clear: both;
        }
    }

    .timeline-content {
        &::after {
            content: '';
            position: absolute;
            border-style: solid;
            width: 0;
            height: 0;
            top: 30px;
            right: -15px;
            border-width: 10px 0 10px 15px;
            border-color: transparent transparent transparent #f5f5f5;
        }
    }

    .timeline-img {
        border-radius: 50%;
        left: 50%;
        margin-left: -15px;
    }
    .timeline-item {
        &:nth-child(2) {
            .timeline-img-header {
                background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1458530970867-aaa3700e966d") center center no-repeat;
                background-size: cover;
            }
        }

        &:nth-child(5) {
            .timeline-img-header {
                background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1444093826349-9ce8c622f4f3") center center no-repeat;
                background-size: cover;
            }
        }

        &:nth-child(6) {
            .timeline-img-header {
                background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1471479917193-f00955256257") center center no-repeat;
                background-size: cover;
            }
        }

        &:nth-child(8) {
            .timeline-img-header {
                background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1466840787022-48e0ec048c8a") center center no-repeat;
                background-size: cover;
            }
        }

        &:nth-child(10) {
            .timeline-img-header {
                background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1447639703758-f525f36456bf") center center no-repeat;
                background-size: cover;
            }
        }

        &:nth-child(11) {
            .timeline-img-header {
                background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1469429978400-082eec725ad5") center center no-repeat;
                background-size: cover;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .timeline {
            &::before {
                left: 50px;
            }

            .timeline-img {
                left: 50px;
            }

            .timeline-content {
                max-width: 100%;
                width: auto;
                margin-left: 70px;
            }

            .timeline-item {
                &:nth-child(even) {
                    .timeline-content {
                        float: none;
                    }
                }

                &:nth-child(odd) {
                    .timeline-content {
                        &::after {
                            content: '';
                            position: absolute;
                            border-style: solid;
                            width: 0;
                            height: 0;
                            top: 30px;
                            left: -15px;
                            border-width: 10px 15px 10px 0;
                            border-color: transparent #f5f5f5 transparent transparent;
                        }
                    }
                }
            }
        }
    }
}

/*---- Articles ----*/
section.articles {
    background-image: url("main/topography-red.svg");
}

/*---- Reading List ----*/
//Menu
.category-btn {
    cursor:pointer;
}

.category-menu {
    left:-100%;
    transition: 0.6s ease;
    opacity:0;
    ul {
        top: 50%;
        transform: translateY(-50%);
        li {
            list-style: none;
            button {
                text-decoration: none;
                overflow:hidden;
                &:after {
                    content:'';
                    background: black;
                    width:100%;
                    height:100%;
                    position:absolute;
                    right:-100%;
                    top:0;
                    z-index:-1;
                    transition:0.4s ease;
                }
            }
        }
    }
}
.category-menu--open {
    left:0;
    opacity:1;
} 

//Books
.covers {
    img {
        border: 3px inset lightgrey;
        border-radius: 4px;
    }

    @media screen and (max-width: 576px) {
        .category-menu {
            width: 40%;
        }

        .cover {
            width: 50%;
        }

        img {
            width: 8rem;
            margin: .25rem;
        }

        .book-description {
            display: none;
        }
    }
}

/*---- Projects ----*/
section.projects {
    background-image: url("projects/circuit.svg");
}

/*---- Playground ----*/
section.playground {
    background-image: url("gears.svg");

    table {
        tr:nth-child(even) {
            background-color: #f1f5f8;
        }

        @media screen and (max-width: 576px) {
            .actions {
                display: none;
            }
        }
    }
}
