/*---- Colors ----*/
$burgandy: #800020;
$burgandy-hover: #3d0303;

.burgandy {
    color: #800020;
}

.burgandy-hover {
    color: #3d0303;
}

/*---- Shared ----*/
.created-at,
.fancy-font,
.title {
    font-family: "Alegreya SC", serif !important;
}

// h1,h2,h3,h4,p {
//     font-family: Apple SD Gothic Neo;
// }

.normal-font,
p, span {
    font-family: Apple SD Gothic Neo;
    font-weight: 400;
}

// .normal-font {
//     font-family: 'Alegreya Sans';
//     font-style: normal;
// }

/*---- Nav ----*/
@media screen and (max-width: 768px) {
    nav.desktop {
        display: none !important;
    }
}

@media screen and (min-width: 767px) {
    nav.mobile {
        display: none !important;
    }
}

/*---- Home ----*/

.no-webp .hero {
    background-image: image-url("twin-lakes.jpg");
    background-size: cover;
    margin-top: -5.7rem;
}

.webp .hero {
    background-image: image-url("twin-lakes.jpg.webp");
    background-size: cover;
    margin-top: -5.7rem;
}

@media screen and (max-width: 568px) {
    .no-webp .hero {
        background-image: image-url("independence-pass.jpg");
        background-size: cover;
        margin-top: 0;
    }

    .webp .hero {
        background-image: image-url("independence-pass.jpg.webp");
        background-size: cover;
        margin-top: 0;
    }
}

.hero {
    @media screen and (max-width: 768px) {
        background-position: 50%;
    }

    div.absolute {
        top: 30%;
    }
}

section.about-home,
section.articles-home {
    background-image: image-url("topography-blue.svg");
}

#language-stats {
    .language-chart {
        display: flex;
        height: 8px;
        overflow: hidden;
        background-color: #e1e4e8;
        border-radius: 6px;
        outline: 1px solid transparent;
        margin-right: 80%;
    }

    .octicon {
        display: inline-block;
        vertical-align: text-top;
        fill: currentColor;
    }
    li {
        text-align: -webkit-match-parent;
    }
    .list-style-none {
        list-style: none;
    }
    ul {
        list-style-type: disc;
    }
}

/*---- About ----*/
section.about {
    background-image: image-url("topography-red.svg");

    .timeline {
        &::before {
            content: "";
            background: #b8c2cc;
            width: 5px;
            height: 95%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }
    }

    .timeline-item {
        &:nth-child(even) {
            .timeline-content {
                float: right;

                &::after {
                    content: "";
                    position: absolute;
                    border-style: solid;
                    width: 0;
                    height: 0;
                    top: 30px;
                    left: -15px;
                    border-width: 10px 15px 10px 0;
                    border-color: transparent #dae1e7 transparent transparent;
                }
            }
        }

        &::after {
            content: "";
            display: block;
            clear: both;
        }
    }

    .timeline-content {
        &::after {
            content: "";
            position: absolute;
            border-style: solid;
            width: 0;
            height: 0;
            top: 30px;
            right: -15px;
            border-width: 10px 0 10px 15px;
            border-color: transparent transparent transparent #f5f5f5;
        }
    }

    .timeline-img {
        border-radius: 50%;
        left: 50%;
        margin-left: -15px;
    }

    @media screen and (max-width: 768px) {
        .timeline {
            &::before {
                left: 25px;
            }

            .timeline-img {
                left: 25px;
            }

            .timeline-content {
                max-width: 100%;
                width: auto;
                margin-left: 60px;
            }

            .timeline-item {
                &:nth-child(even) {
                    .timeline-content {
                        float: none;
                    }
                }

                &:nth-child(odd) {
                    .timeline-content {
                        &::after {
                            content: "";
                            position: absolute;
                            border-style: solid;
                            width: 0;
                            height: 0;
                            top: 30px;
                            left: -15px;
                            border-width: 10px 15px 10px 0;
                            border-color: transparent #dae1e7 transparent transparent;
                        }
                    }
                }
            }
        }
    }
}

/*---- Forms ----*/
.form-description,
.form-title {
    &:focus {
        outline-color: #800020;
    }
}

/*---- Articles ----*/
#article {
    code {
        font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
        border-radius: 0.25rem;
        background-color: #f1f5f8;
        font-size: 0.875rem;
        color: #3d4852;
        padding: 0.25rem;
        border-width: 1px;
    }

    a {
        color: #800020;

        &:hover {
            color: #3d0303;
        }
    }
}

section.article-show,
section.articles {
    background-image: image-url("topography-red.svg");
}

section.new-article {
    background-image: image-url("line-in-motion.svg");
}

section.category-index {
    background-image: image-url("line-in-motion.svg");
}

/*---- Quotes ----*/
section.quotes {
    background-image: image-url("line-in-motion.svg");
}

/*---- Reading List ----*/
//Menu

.category-menu {
    ul {
        li {
            list-style: none;
            // width: 10%;

            button {
                text-decoration: none;

                &:focus {
                    outline: 1px solid #fff;
                    outline-offset: 5px;
                }
            }
        }
    }
}

//Books
.covers {
    img {
        border: 3px inset lightgrey;
        border-radius: 4px;
    }

    @media screen and (max-width: 576px) {
        .category-menu {
            width: 40%;
        }

        .cover {
            width: 50%;
        }

        img {
            width: 8rem;
        }

        .book-description {
            width: 83.333%;
        }
    }
}

/*---- Projects ----*/
.project-container {
    @media (min-width: 768px) {
        height: 400px;
    }
}

section.projects-skills {
    background-image: image-url("topography-red.svg");
}

/*---- Resources ----*/
section.resources {
    background-image: image-url("graph-paper.svg");
}

table {
    tr:nth-child(even) {
        background-color: #f1f5f8;
    }

    @media screen and (max-width: 576px) {
        .actions {
            display: none;
        }
    }
}
