/*---- Colors ----*/
$burgandy: #800020;
$burgandy-hover: #3d0303;

.burgandy {
    color: #800020;
}

.burgandy-hover {
    color: #3d0303;
}

/*---- Shared ----*/
.fancy-font, .title, .created-at {
    font-family: 'Alegreya SC', serif !important;
}

.normal-font {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
}

/*---- Nav ----*/
@media screen and (max-width: 768px) {
    nav.desktop {
        display: none !important;
    }
}

/*---- Home ----*/

.hero {
    background-image: url("main/twin-lakes.jpg");
    background-size: cover;
    margin-top: -6rem;

    @media screen and (max-width: 768px) {
        background-position: 50%;
    }

    div.absolute {
        top: 30%;
    }
}

section.articles-home {
    background-image: url("main/articles-home.svg");
}

/*---- Articles ----*/
section.articles {
    background-image: url("main/articles-index.svg");
}

/*---- Reading List ----*/
.list-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 auto;
}

.covers {
    display: flex;
    flex-wrap: wrap;

    .row {
        justify-content: center;
    }

    div {
        margin: 15px;
    }

    img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 145px;
    }
}