/*---- Colors ----*/
$burgandy: #800020;
$burgandy-hover: #3d0303;

.burgandy {
    color: #800020;
}

.burgandy-hover {
    color: #3d0303;
}

/*---- Shared ----*/
.created-at,
.fancy-font,
.title {
    font-family: "Alegreya SC", serif !important;
}

.normal-font,
a,
p,
small,
span {
    font-family: Apple SD Gothic Neo;
    font-weight: 400;
}

.list-style-none {
    list-style-type: none !important;
}

.no-underline {
    text-decoration: none;
}

.force-vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.flash-msg {
    top: 15%;
    &.alert {
        background-color: #f2d024;
        color: black;
    }
    &.danger {
        background-color: #cc1f1a;
        color: white;

    }
    &.success {
        background-color: #1f9d55;
        color: white;
    }
}

#terrain-container {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    #terrain {
        width: 100vw;
        height: 100vh;
        max-height: 100vh;
        max-width: 100vw;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 3px;
        g {
            width: 100vw;
            height: 100vh;
        }
    }
}

/*---- Nav ----*/
@media screen and (max-width: 768px) {
    nav.desktop {
        display: none !important;
    }
}

@media screen and (min-width: 767px) {
    nav.mobile {
        display: none !important;
    }
}

#admin-nav {
    top: 0;

    .admin-dropdown {
        display: none;
        position: absolute;
        top: 25px;
        /* the height of the main nav */
        left: 0;

        &:hover {
            display: inherit;
        }
    }
    /* Display Dropdowns on Hover */
    .admin-link:hover > ul {
        display: inherit;
    }
}

/*---- Home ----*/
.js--fadeInLeft {
    display: none;
}
.home-description {
    background-image: image-url("topography-blue.svg");
}
.projects-home {
    // Right Column
    #project-details {
        .text-wrapper {
            max-width: 540px;
            max-height: 480px;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
            -ms-overflow-style: none; // IE and Edge 
            scrollbar-width: none; // Firefox 

        }
        .details {
            display: none;
            max-width: 85%;

            img {
                border: 8px solid #FAE2A7;
                border-radius: 65px;
                max-width: 130px;
            }

        }
        #more-details {
            display: none;
            bottom: 5%;
            left: 42%;
        }
    }

    // Left Column
    .project-list {
        height: 50vh;
        overflow-y: scroll;
        letter-spacing: normal;
        &::-webkit-scrollbar {
            display: none;
        }
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */

        li {
            text-decoration: none;
            list-style: none;

            .project {
                &:hover {
                    cursor: pointer;
                    background-color: #E6E6E6;
                    box-shadow: 0 0.5rem 1rem rgba(black, .15);
                }
            }
            .arrow-pointer {
                display: none;

                &::before {
                    content: "";
                    position: absolute;
                    top: 35%;
                    left: 0;
                    border-top: 18px solid transparent;
                    border-left: 15px solid #ffcb5a;
                    border-bottom: 18px solid transparent;
                }

            }
        }
    }

    #more-down {
        bottom: 0;
        left: 42%;
    }
}

.language-stats {
    #language-bar {
        .bar {
            display: flex;
            height: 8px;
            overflow: hidden;
            background-color: #e1e4e8;
            border-radius: 6px;
        }

        ul {
            list-style-type: none;

            .octicon {
                fill: currentColor;
            }
        }
    }
}

.aboutme-description {
    align-self: center;
}

/*---- Forms ----*/
.form-description,
.form-title {
    &:focus {
        outline-color: #800020;
    }
}

/*---- Articles ----*/
#article {
    code {
        font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
        border-radius: 0.25rem;
        background-color: #f1f5f8;
        font-size: 0.875rem;
        color: #3d4852;
        padding: 0.25rem;
        border-width: 1px;
    }

    a {
        color: #800020;

        &:hover {
            color: #3d0303;
        }
    }
}

section.article-show,
section.articles {
    background-image: image-url("topography-red.svg");
}

section.category-index,
section.new-article,
section.new-book,
section.quotes {
    background-image: image-url("line-in-motion.svg");
}

/*---- Reading List ----*/
//Menu
.category-menu {
    ul {
        li {
            list-style: none;

            button {
                text-decoration: none;

                &:focus {
                    outline: 1px solid #fff;
                    outline-offset: 5px;
                }
            }
        }
    }
}

//Books
.covers {
    .edit-book-link {
        top: 0;
        right: 55px;
    }

    img {
        border: 3px inset lightgrey;
        border-radius: 4px;
    }

    @media screen and (max-width: 576px) {
        .category-menu {
            width: 40%;
        }

        .cover {
            width: 50%;
        }

        img {
            width: 8rem;
        }

        .book-description {
            width: 83.333%;
        }
    }
}

/*---- Projects ----*/
.project-container {
    @media (min-width: 768px) {
        height: 400px;
    }
}

section.projects-skills {
    background-image: image-url("topography-red.svg");
}

/*---- Resources ----*/
section.resources {
    background-image: image-url("graph-paper.svg");
}

table {
    tr:nth-child(even) {
        background-color: #f1f5f8;
    }

    @media screen and (max-width: 576px) {
        .actions {
            display: none;
        }
    }
}
