/*---- Colors ----*/
.burgandy {
    color: #800020;
}

.burgandy-hover {
    color: #3d0303;
}

/*---- Shared ----*/
.fancy-font, .title, .created-at {
    font-family: 'Alegreya SC', serif !important;
}

.normal-font {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
}

/*---- Home ----*/

.hero {
    div {
        background-image: url("main/mountain-path.jpg");
        background-size: cover;
        margin-top: -6rem;
        position: relative;
        z-index: -10;      
    }
}
