<% if current_page?(root_path) %>
<span>
  <%= link_to category.name, category_path(category), 
      class: "bg-blue-800hover:bg-blue-900 m-2 no-underline p-1 rounded text-blue-100 normal-font" %> &nbsp;
</span>
<% else %>
<span>
  <%= link_to category.name, category_path(category), 
      class: "bg-red-800hover:bg-red-900 m-2 no-underline p-1 rounded text-red-600-100 normal-font" %> &nbsp;
</span>
<% end %>