<footer class="w-full py-16">
    <div class="container mx-auto">
        <p class="block normal-font text-center text-sm">
            Copyright &copy; <a href="http://alextheyounger.me" class="burgandy <% if current_page?(root_path) %> text-blue <% end %>">alexyounger.me</a> by Alex Younger. This site was built with Ruby on Rails and TailwindCSS.
        </p>
        <div class="text-center w-full py-4">
            <a href="https://www.linkedin.com/in/alexyounger/" class="w-16 no-underline burgandy <% if current_page?(root_path) %> text-blue <% end %> fa fa-lg fa-linkedin"></a>
            <a href="https://www.facebook.com/alex.younger.7" class="w-16 no-underline burgandy <% if current_page?(root_path) %> text-blue <% end %> fa fa-lg fa-facebook"></a>
            <a href="https://github.com/AlextheYounga/alpha-blog" class="w-16 no-underline burgandy <% if current_page?(root_path) %> text-blue <% end %> fa fa-lg fa-github"></a>
            <a href="https://codepen.io/alextheyounger/" class="w-16 no-underline burgandy <% if current_page?(root_path) %> text-blue <% end %> fa fa-lg fa-codepen"></a>
            <a href="https://www.quora.com/profile/Alex-Younger-5" class="w-16 no-underline burgandy <% if current_page?(root_path) %> text-blue <% end %> fa fa-lg fa-quora"></a>
            <a href="https://medium.com/@AlextheYounger" class="w-16 no-underline burgandy <% if current_page?(root_path) %> text-blue <% end %> fa fa-lg fa-medium"></a>
            <a href="mailto:alexyounger07@gmail.com" class="w-16 no-underline burgandy <% if current_page?(root_path) %> text-blue <% end %> fa fa-lg fa-envelope-o"></a>
            <!-- <a href="https://www.quora.com/profile/Alex-Younger-5" class="w-16 no-underline burgandy <% if current_page?(root_path) %> text-blue <% end %> fa fa-lg fa-quora"></a> -->
        </div>
    </div>
</footer>